<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UI Design</title>

    <link th:href="@{/css/style-304.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>


<!-- Resume Starts -->
<div class="resume">
    <!-- Sidebar -->
    <div th:replace="header :: header"></div>
    <!-- Main -->
    <div class="main-block bg-white">
        <div class="objective">
            <h3>Объекты</h3>
            <div class="objective-content">
                <form th:action="@{/managers/objects}" id="filter"
                      method="get" >
                    <div class="form-inline justify-content-around">
                        <input name="countRoom" placeholder="Количество комнат" class="col col-lg-2 form-control"  type="text"/>
                        <input name="minPrice" placeholder="Минимальная цена" class="col col-lg-2 form-control" type="text"/>
                        <input name="maxPrice" placeholder="Максимальная цена" class="col col-lg-2 form-control"  type="text"/>
                        <select id="typeObject" name="typeObject" class="col col-lg-2 form-control">
                            <option>Любой объект</option>
                            <option th:each="to : ${typeObject}"
                                    th:value="${to.typeObject}" th:text="${to.typeObject}">
                            </option>
                        </select>
                        <select id="typeMove" name="typeMove" class="col col-lg-2 form-control">
                            <option>Любой тип</option>
                            <option th:each="tm : ${typeMove}"
                                    th:value="${tm.typeMove.trim()}" th:text="${tm.typeMove.trim()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-inline justify-content-center" style="padding-top: 1rem">
                        <a class="btn btn-danger" id="clean" style="margin-right: 1rem ">Сбросить</a>
                        <button class="btn btn-primary" type="submit">Фильтровать</button>
                    </div>
                </form>
                <h3></h3>
                <a href="/managers/objects/add" class="btn btn-lg btn-primary btn-block" role="button" id="add-object" aria-pressed="true">Добавить объект</a>
<!--                 Контент -->

            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/clear.js}"></script>
<script th:src="@{/js/object.js}"></script>
</body>
</html>