<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UI Design</title>

    <link th:href="@{/css/style-304.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>


<!-- Resume Starts -->
<div class="resume">
    <!-- Sidebar -->
    <div th:replace="header :: header"></div>
    <!-- Main -->
    <div class="main-block bg-white">
        <div class="objective">
            <h3 th:text="${type}+' объекта'"></h3>
            <div class="objective-content">
                <!-- Контент -->
                <div>
                    <form th:action="@{/managers/objects/add}"
                          th:object="${object}" method="post" enctype="multipart/form-data">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Описание</th>
                                <th>Поле ввода</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row"><p> Тип объекта </p></td>
                                <td>
                                    <div class="form-group col-md-4">
                                        <select id="typeObject" name="typeObject" class="form-control">
                                            <th:block th:if="${object.getIdObject() !=null}">
                                                <option th:each="to : ${typeObject}"
                                                        th:value="${to.typeObject}" th:text="${to.typeObject}"
                                                        th:selected="${object.typeObject.contains(to.typeObject)}">
                                                </option>
                                            </th:block>
                                            <th:block th:unless="${object.getIdObject()!=null}">
                                                <option th:each="to : ${typeObject}"
                                                        th:value="${to.typeObject}" th:text="${to.typeObject}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Адрес </p></td>
                                <td>
                                    <input id="adress" name="adress" th:value="${object.getAdress()!=null}?${#strings.trim(object.adress)}" placeholder="Адрес" class="form-control" type="text"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Площадь </p></td>
                                <td>
                                    <input id="square" name="square"  th:value="${object.getSquare()!=null}?${#strings.trim(object.square)}" placeholder="Площадь" class="form-control" type="text" />
                                    <div style="color:red" th:if="${#fields.hasErrors('square')}" th:errors="*{square}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Количество этажей </p></td>
                                <td>
                                    <input id="countFloor"  th:field="*{countFloor}" placeholder="Количество этажей" class="form-control" type="text"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('countFloor')}" th:errors="*{countFloor}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Количество комнат </p></td>
                                <td>
                                    <input id="countRoom"  th:field="*{countRoom}" placeholder="Количество комнат" class="form-control" type="text"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('countRoom')}" th:errors="*{countRoom}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Цена продажи </p></td>
                                <td>
                                    <input id="price" name="price" th:value="${object.getPrice()!=null}?${#strings.trim(object.price)}" placeholder="Цена продажи" class="form-control" type="text"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                                </td>
                            </tr>
                            <th:block th:if="${object.getIdObject()!=null}">
                                <input type="hidden" id="idObject" th:field="*{idObject}"/>
                            </th:block>
                            <tr>
                                <td scope="row"><p> Цена продавца </p></td>
                                <td>
                                    <input id="realPrice" name="realPrice" th:value="${object.getRealPrice()!=null}?${#strings.trim(object.realPrice)}" placeholder="Цена продавца" class="form-control" type="text" />
                                    <div style="color:red" th:if="${#fields.hasErrors('realPrice')}" th:errors="*{realPrice}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Описание </p></td>
                                <td>
                                    <textarea id="description" th:field="*{description}" class="form-control" rows="3"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Тип продажи </p></td>
                                <td>
                                    <div class="form-group col-md-4">
                                        <select id="typeMove" name="typeMove"  class="form-control">
                                            <th:block th:if="${object.getTypeMove() !=null}">
                                                <option th:each="tm : ${typeMove}"
                                                        th:value="${tm.typeMove}" th:text="${tm.typeMove}"
                                                        th:selected="${object.getTypeMove().contains(tm.typeMove)}">
                                                </option>
                                            </th:block>
                                            <th:block th:unless="${object.getTypeMove()!=null}">
                                                <option th:each="tm : ${typeMove}"
                                                        th:value="${tm.typeMove}" th:text="${tm.typeMove}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Добавить фото</p></td>
                                <td>
                                    <div class="mb-3">
                                        <input class="form-control" type="file" name="fileName" multiple="multiple"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Clearfix -->
    <div class="clearfix"></div>
</div>

</body>
</html>