<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UI Design</title>

    <link th:href="@{/css/style-304.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>


<!-- Resume Starts -->
<div class="resume">
    <!-- Sidebar -->
    <div th:replace="header :: header"></div>
    <!-- Main -->
    <div class="main-block bg-white">
        <div class="objective">
            <h3>Добавление объекта</h3>
            <div class="objective-content">
                <!-- Контент -->
                <div class="row">
                    <form th:action="@{/managers/objects/add}"
                          th:object="${obgect}" method="post" enctype="multipart/form-data">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Описание</th>
                                <th>Поле ввода</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row"><p> Тип объекта </p></td>
                                <td>
                                    <div class="form-group col-md-4">
                                        <select th:field="*{typeObject}"   class="form-control">
                                            <option th:each="to : ${typeObject}"
                                                    th:value="${to.typeObject}" th:text="${to.typeObject}">
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Адрес </p></td>
                                <td>
                                    <input th:field="*{adress}" placeholder="Адрес" class="form-control" type="text" name="price"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Площадь </p></td>
                                <td>
                                    <input th:field="*{square}" placeholder="Площадь" class="form-control" type="text" name="price"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Количество этажей </p></td>
                                <td>
                                    <input th:field="*{countFloor}" placeholder="Количество этажей" class="form-control" type="text"
                                           name="price"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Количество комнат </p></td>
                                <td>
                                    <input th:field="*{countRoom}" placeholder="Количество комнат" class="form-control" type="text"
                                           name="price"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Цена продажи </p></td>
                                <td>
                                    <input th:field="*{price}" placeholder="Цена продажи" class="form-control" type="text" name="price"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Цена продавца </p></td>
                                <td>
                                    <input th:field="*{realPrice}" placeholder="Цена продавца" class="form-control" type="text" name="price"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Описание </p></td>
                                <td>
                                    <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><p> Тип продажи </p></td>
                                <td>
                                    <div class="form-group col-md-4">
                                        <select th:field="*{typeMove}"  class="form-control">
                                            <option th:each="tm : ${typeMove}" th:value="${tm.typeMove}" th:text="${tm.typeMove}">
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Добавить фото</p></td>
                                <td>
                                    <div class="mb-3">
                                        <label class="form-label">Добавить фото</label>
                                        <input class="form-control" type="file" name="fileName" multiple="multiple"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Clearfix -->
    <div class="clearfix"></div>
</div>

</body>
</html>