<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>UI Design</title>
    <!-- Description, Keywords and Author -->

    <!-- Styles -->
    <!-- Bootstrap CSS -->

    <!-- Main CSS -->

    <link th:href="@{/css/style-304.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>


<!-- Resume Starts -->
<div class="resume">
    <!-- Sidebar -->
    <div th:replace="header :: header"></div>
    <!-- Main -->
    <div class="main-block bg-white">
        <div class="objective">
            <h3>Продавцы</h3>
            <div class="objective-content">
                <!-- Фильтр -->
                <form th:action="@{/managers/clients/sellers}" id="filter"
                      method="get" >
                    <div class="input-group">
                        <input name="search" type="text" class="form-control" placeholder="Поиск" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                        <div class="input-group-append" id="button-addon4">
                            <button class="btn btn-outline-primary" type="submit">Найти</button>
                            <a class="btn btn-outline-danger" id="clean">Сбросить</a>
                        </div>
                    </div>
                </form>
                <h3></h3>
                <!-- Контент -->
                <a href="/managers/clients/sellers/add" class="btn btn-lg btn-primary btn-block" role="button" aria-pressed="true">Добавить продавца</a>
                <div class="bs-example" >
                    <div class="accordion" id="accordionExample">
                        <div class="card" th:each="seller,iterator : ${sellers}" th:with="backet='okm3agency'">
                            <div class="card-header" th:id="'heading'+${iterator.index}">
                                <div class="row justify-content-md-center">
                                    <button type="button" class="btn btn-link col-7 col col-lg-6" th:text="${seller.getFio()}"
                                            data-toggle="collapse" th:data-target="'#collapse'+${iterator.index}">
                                    </button>
                                    <form th:action="@{/managers/clients/sellers/add}" class="form-inline col"
                                          th:object="${seller}" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <input class="form-control col" type="file" name="fileName" multiple="multiple"/>
                                            <input type="hidden" name="id_buyer" value="" th:value="${seller.getId_seller()}"/>
                                            <button class="btn btn-primary col col-lg-4" type="submit">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:id="'collapse'+${iterator.index}" class="collapse" th:aria-labelledby="'heading'+${iterator.index}" data-parent="#accordionExample">
                                <div class="card-body" th:each="document : ${seller.contractsSeller}">
                                    <a th:href="'https://storage.yandexcloud.net/okm3agency/'+${document.urlContract}"
                                    th:text="${document.urlContract}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Clearfix -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Resume Ends -->

    <!-- Javascript files -->
    <!-- jQuery -->
    <script th:src="@{/js/clear.js}"></script>
</body>
</html>