<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>UI Design</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->

    <!-- Main CSS -->

    <link th:href="@{/css/style-304.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>


<!-- Resume Starts -->
<div class="resume">
    <!-- Sidebar -->
    <div class="r-sidebar">
        <div class="r-sidebar-item">
            <!-- Sidebar Image -->
            <!-- Name -->
            <div class="name">
                <h3 th:text="${#request.userPrincipal.name}"></h3>
                <br></br>
                <a th:href="@{/logout}">выйти</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Detail -->
        <div class="r-detail">
            <div class="col-md-3 col-sm-4 col-padd">
                <!-- UI Item -->
                <div class="ui-item">
                    <!-- Unordered list -->
                    <ul class="list-unstyled">
                        <li><a href="/managers/objects">Объекты</a></li>
                        <li><a href="/managers/clients/sellers">Продавцы</a></li>
                        <li><a href="">Покупатели</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Social -->
    </div>
    <!-- Main -->
    <div class="main-block bg-white">
        <div class="objective">
            <h3>Продавцы</h3>
            <div class="objective-content">
                <!-- Контент -->
                <a href="/managers/clients/sellers/add" class="btn btn-lg btn-primary btn-block" role="button" aria-pressed="true">Добавить продавца</a>
                <div class="bs-example" >
                    <div class="accordion" id="accordionExample">
                        <div class="card" th:each="seller,iterator : ${sellers}" th:with="backet='okm3agency'">
                            <div class="card-header" th:id="'heading'+${iterator.index}">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link" th:text="${seller.getFio()}"
                                            data-toggle="collapse" th:data-target="'#collapse'+${iterator.index}">
                                    </button>
                                </h2>
                            </div>
                            <div th:id="'collapse'+${iterator.index}" class="collapse" th:aria-labelledby="'heading'+${iterator.index}" data-parent="#accordionExample">
                                <div class="card-body" th:each="document : ${seller.contractsSeller}">
                                    <a th:href="'https://storage.yandexcloud.net/okm3agency/'+${document.urlContract}"
                                    th:text="${document.urlContract}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Clearfix -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Resume Ends -->

    <!-- Javascript files -->
    <!-- jQuery -->
</body>
</html>